@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

toolbarbutton#alltabs-button {
  -moz-binding: url("userChrome.xml#js");
}

/* Hide titlebar spaces */
.titlebar-spacer {
  display: none;
}

/* White GitHub favicon */
.tabbrowser-tab[image^="data:image/x-icon;base64,AAABAAIAEBAAAAEAIAAoBQAAJgAAACAgAAABACAAKBQAAE4FAAAoAAAAEAAAACAAAAABACAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABERE3YTExPFDg4OEgAAAAAAAAAADw8PERERFLETExNpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUFJYTExT8ExMU7QAAABkAAAAAAAAAAAAAABgVFRf/FRUX/xERE4UAAAAAAAAAAAAAAAAAAAAAAAAAABEREsETExTuERERHhAQEBAAAAAAAAAAAAAAAAAAAAANExMU9RUVF/8VFRf/EREUrwAAAAAAAAAAAAAAABQUFJkVFRf/BgYRLA4ODlwPDw/BDw8PIgAAAAAAAAAADw8PNBAQEP8VFRf/FRUX/xUVF/8UFBSPAAAAABAQEDAPDQ//AAAA"] .tab-icon-image {
  filter: invert(1.0) !important;
}

/* Put tabs below the nav bar. */
#titlebar {
  -moz-box-ordinal-group: 1 !important;
  /*   background: var(--toolbar-bgcolor) !important; */
}

window#main-window {
  --lwt-accent-color: rgb(22, 25, 37) !important;
  --tab-min-height: 30px !important;
}

#navigator-toolbox {
  border: none !important;
}

/* Put nav bar above the tab bar and make a space for traffic lights. */
#nav-bar {
  -moz-box-ordinal-group: 0 !important;
  padding-left: 0px !important;
  z-index: 1 !important;
}

/* Requires https://addons.mozilla.org/en-US/firefox/addon/tab-count-in-window-title/ */
/* Hides tab bar when there's only one tab. */
#main-window[titlepreface^="[1] "] .toolbar-items {
  visibility: collapse;
}

#main-window[titlepreface^="[1] "] #TabsToolbar {
  min-height: 0 !important;
}

#personal-bookmarks {
  /* z-index: -1 !important; */
}

#PersonalToolbar {
  z-index: -2 !important;
  padding: 0 !important;
  background-color: rgb(22, 25, 37) !important;
  margin-top: -23px !important;
  transition: all 200ms ease 0s !important;
}

#navigator-toolbox:hover > #PersonalToolbar {
  /* display: block; */
  margin-top: 0 !important;
  transition: all 200ms ease 0s !important;
}

#back-button,
#forward-button {
  display: none !important;
}

#TabsToolbar {
  background-color: rgb(22, 25, 37) !important;
}

.tabbrowser-tab {
  border-radius: 3px;
}

tabs {
  z-index: 1 !important;
}

#tabbrowser-tabs {
  background-color: rgb(22, 25, 37) !important;
}
